In [10]:
dic= {'fruits':['apples', 'oranges', 'bananas', 'peeches'], 
      'deserts':['apples', 'oranges', 'bananas', 'peeches'], 
      'drinks':['apples', 'oranges', '12344bananas', 'peeches']}
dic

{'fruits': ['apples', 'oranges', 'bananas', 'peeches'],
 'deserts': ['apples', 'oranges', 'bananas', 'peeches'],
 'drinks': ['apples', 'oranges', '12344bananas', 'peeches']}

sett={1,2,3,4,56,}

In [2]:
sett = {22,33,44,44,33,22}

In [3]:
sett

{22, 33, 44}

In [4]:
alist = [1,2,3,4,3,5,6,3,1,2,4,[1,2,3,4,5]]# listinlist

In [12]:
aset = set(alist)

In [6]:
aset

{1, 2, 3, 4, 5, 6}

In [11]:
dic['drinks'][2]

'12344bananas'

In [13]:
dic

{'fruits': ['apples', 'oranges', 'bananas', 'peeches'],
 'deserts': ['apples', 'oranges', 'bananas', 'peeches'],
 'drinks': ['apples', 'oranges', '12344bananas', 'peeches']}

In [14]:
dic['newKey']=10000

In [15]:
dic

{'fruits': ['apples', 'oranges', 'bananas', 'peeches'],
 'deserts': ['apples', 'oranges', 'bananas', 'peeches'],
 'drinks': ['apples', 'oranges', '12344bananas', 'peeches'],
 'newKey': 10000}

In [16]:
dic['fruits'].append("newValue")

In [17]:
dic

{'fruits': ['apples', 'oranges', 'bananas', 'peeches', 'newValue'],
 'deserts': ['apples', 'oranges', 'bananas', 'peeches'],
 'drinks': ['apples', 'oranges', '12344bananas', 'peeches'],
 'newKey': 10000}

In [18]:
del dic['newKey']

In [19]:
dic

{'fruits': ['apples', 'oranges', 'bananas', 'peeches', 'newValue'],
 'deserts': ['apples', 'oranges', 'bananas', 'peeches'],
 'drinks': ['apples', 'oranges', '12344bananas', 'peeches']}

In [21]:
dic['drinks'].remove('12344bananas')

In [22]:
dic

{'fruits': ['apples', 'oranges', 'bananas', 'peeches', 'newValue'],
 'deserts': ['apples', 'oranges', 'bananas', 'peeches'],
 'drinks': ['apples', 'oranges', 'peeches']}

In [25]:
for key,val in dic.items():
    print(val)
    print(key)

['apples', 'oranges', 'bananas', 'peeches', 'newValue']
fruits
['apples', 'oranges', 'bananas', 'peeches']
deserts
['apples', 'oranges', 'peeches']
drinks

In [32]:
listd = [{"keys":[1,2,3,4,5]},
         {'keys1':[11,22,33,44,55]},
         {'keys2':[111,222,333,444],'new':[100,1000]}]

In [33]:
listd[0]

{'keys': [1, 2, 3, 4, 5]}

In [34]:
listd[1]

{'keys1': [11, 22, 33, 44, 55]}

In [35]:
listd[2]

{'keys2': [111, 222, 333, 444], 'new': [100, 1000]}

In [37]:
listd[2]['new'][1]

1000

In [38]:
listd = [{"keys":[1,2,3,4,5]},
         {'keys1':[11,22,33,44,55]},
         {'keys2':[111,222,333,444],'new':[100,1000]}]

In [39]:
for num in listd[2]['keys2']:
    print(num)

111
222
333
444

In [40]:
#functions

In [41]:
print

In [52]:
print("sum is sleeping")
def sum():
    print(10+20)
print("sum is still sleeping")
sum()

sum is sleeping
sum is still sleeping
30

In [63]:
def add(val1,val2):  #parameters
    
    c =  val2 + val1
    return c

In [64]:
add(1,2)# arguments

3

In [65]:
add(100,220)

320

In [66]:
add(2)

TypeError: add() missing 1 required positional argument: 'val2'

In [82]:
def even(val1):
    e=val1%2
    if e==0:
        print('even')
    else:
        print('Odd')
    return e
    print('i')

In [79]:
even(7)

Odd

1

In [83]:
def nameDefine(name, fname):
    print(name+" "+ fname)

    
    
nameDefine('mansoor','manzoor')

mansoor manzoor

In [84]:
nameDefine("manzoor", "mansoor")

manzoor mansoor

In [85]:
#keyword argument

In [86]:
def nameDefine(name, fname):
    print(name+" "+ fname)

In [87]:
nameDefine(fname="manzoor", name="mansoor")

mansoor manzoor

In [93]:
def fullname(middleName="", lastName="", firstName):
    print(firstName+" "+middleName+" "+ lastName)

SyntaxError: non-default argument follows default argument (<ipython-input-93-f1efacdc4615>, line 1)

In [91]:
fullname("Mansoor")

Mansoor

In [101]:
def fullname(firstName, middleName=" ", lastName=" ", ):
    print(firstName+""+middleName+""+ lastName)

In [102]:
fullname(firstName="Nasir", lastName="Khan" )

Nasir Khan

In [ ]:
def add(a,b):